# Node.js
node_modules/
npm-debug.log
yarn-error.log
.pnpm-debug.log

# Build
/dist/
/build/

# Logs
*.log

# Operating System files
.DS_Store
Thumbs.db

# IDEs and Editors
.vscode/
.idea/

# Environment variables
.env

# NPM and Yarn lock files if you prefer to ignore them
package-lock.json
yarn.lock

# Optional: Ignore files for deployment (if applicable)
*.zip
*.tar.gz
